In [100]:
# Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
# Посмотреть сколько в нем строк и столбцов
# Определить какой тип данных имеют столбцы


import pandas
df = pandas.read_csv('C:/gb/Python_second_block/CW-HW_11/california_housing_train.csv')
df.head(n=5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [101]:
df.shape

(17000, 9)

In [102]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [103]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [104]:
# Проверить есть ли в файле пустые значения
# Показать median_house_value где median_income < 2
# Показать данные в первых 2 столбцах
# Выбрать данные где housing_median_age < 20 и median_house_value > 70000

df['median_house_value'][df['median_income'] < 2]

0        66900.0
1        80100.0
2        85700.0
4        65500.0
7        48500.0
          ...
16984    70000.0
16989    58100.0
16990    78300.0
16994    76100.0
16998    85800.0
Name: median_house_value, Length: 2005, dtype: float64

In [111]:
df.loc[df['median_income'] < 2, 'median_house_value']

0        66900.0
1        80100.0
2        85700.0
4        65500.0
7        48500.0
          ...
16984    70000.0
16989    58100.0
16990    78300.0
16994    76100.0
16998    85800.0
Name: median_house_value, Length: 2005, dtype: float64

In [113]:
df[['median_house_value', 'total_rooms']][df['median_income'] < 1.5][df['housing_median_age'] < 7]

C:\Users\123qw\AppData\Local\Temp\ipykernel_5008\2792534804.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[['median_house_value', 'total_rooms']][df['median_income'] < 1.5][df['housing_median_age'] < 7]

       median_house_value  total_rooms
288               42500.0         42.0
796              108800.0       3223.0
1347             325000.0       2508.0
2865             137500.0       1391.0
7592             325000.0        854.0
10164             72000.0       1853.0
12306            162500.0        761.0

In [ ]:
df[['longitude', 'latitude', 'housing_median_age', 'total_rooms']]

       longitude  latitude  housing_median_age  total_rooms
0        -114.31     34.19                15.0       5612.0
1        -114.47     34.40                19.0       7650.0
2        -114.56     33.69                17.0        720.0
3        -114.57     33.64                14.0       1501.0
4        -114.57     33.57                20.0       1454.0
...          ...       ...                 ...          ...
16995    -124.26     40.58                52.0       2217.0
16996    -124.27     40.69                36.0       2349.0
16997    -124.30     41.84                17.0       2677.0
16998    -124.30     41.80                19.0       2672.0
16999    -124.35     40.54                52.0       1820.0

[17000 rows x 4 columns]

In [120]:
for coll in df.columns[:2]:
    print(df[coll])

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64
0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [127]:
df[(df['housing_median_age'] < 20)&(df['median_income'] < 2)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
15,-114.65,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
...,...,...,...,...,...,...,...,...,...
16894,-124.00,40.22,16.0,2088.0,535.0,816.0,326.0,1.3190,70700.0
16911,-124.08,40.91,13.0,2522.0,719.0,1381.0,628.0,1.6667,78800.0
16912,-124.08,40.86,18.0,1287.0,484.0,805.0,502.0,1.1157,150000.0
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

In [129]:
# Определить какое максимальное и минимальное значение median_house_value

# Показать максимальное median_house_value, где median_income = 3.1250

# Узнать какая максимальная population в зоне минимального значения median_house_value

df['median_house_value'].min()

14999.0

In [134]:

df[df ['median_income'] == 3.1250]['median_house_value'].max()

380400.0

In [170]:
df[df ['median_house_value'] == df['median_house_value'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
568,-117.02,36.40,19.0,619.0,239.0,490.0,164.0,2.1000,14999.0
3226,-117.86,34.24,52.0,803.0,267.0,628.0,225.0,4.1932,14999.0
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0

In [169]:
df[df ['median_house_value'] == df['median_house_value'].min()]['population'].max()

628.0